<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecimiento de clave</title>
</head>
<style>
    h1, h2, h3, p, strong, li{
        font-family: Poppins, sans-serif
    }
</style>

<body>
    <div style="background-color:#212529; display: flex; align-items: center; padding: 15px;">
        <img style="width: 5rem; margin-left: 5%;" src="https://i.imgur.com/KlY54xQ.png"/>
        <h1 style="color: rgb(161, 161, 161); margin-left: auto; margin-right: auto;">Bolicheck</h1>
    </div>
    <h1 style="text-align: center;">Hola, {{ nombre }}, has solicitado un restablecimiento de tu contraseña.</h1>
    <h2 style="text-align: center;">Accede a este link para generar una nueva contraseña: {{ link }}</h2>
    <p style="text-align: center;">Esperamos tenerte de vuelta pronto.</p>
    <div style="
        background-color: #212529;
        color: rgb(161, 161, 161);
        text-align: center;
        padding: 15px;
        margin-top: 20px;
    ">
        <p style="margin: 0;">&copy; 2025 Bolicheck. Todos los derechos reservados.</p>
        <p style="margin: 5px 0;">Contacto: <a href="mailto:soporte@bolicheck.com" style="color: #2bcf30; text-decoration: none;">soporte@bolicheck.com</a></p>
    </div>
</body>

</html>